################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestesDeSoftware/.vs/TestesDeSoftware/v16/Server/sqlite3/db.lock
/TestesDeSoftware_PRONTO/.vs/TestesDeSoftware/v16/Server/sqlite3/db.lock
/BancoX/.vs/BancoX/v16/Server/sqlite3/db.lock
